body{
  background-image: url('../images/backgroundimage.jpg');
}
h1{
  font-family: Game of Thrones;
  color: #a15a5f;
  font-size: 54px;
  opacity: 1.0;
}
ul{
  list-style: none;
}

#container{
background-color: #440C0A;
opacity: 0.5;
}